/*Camera section*/

.body {
	margin: auto;
}

#startbutton {
    visibility: hidden;
}

#fileToUpload {
    visibility: hidden;
}

#file {
    display: none;
}

.flt_min {
    width: 50px;
}

#canvas {
    display: none;
}

#main_fp {
    vertical-align: top;
    margin: auto;
    width: 700px;
    display: inline-block;
}

#rendu_final {
	display: inline-block;
	text-align: center;
}

/* Filter section */

.filters {
	display: inline-block;
}

.flt {
	width: 200px;
	text-align: center;
	display: inline-block;
}

.buttons {
	display: inline-block;
	margin: auto;
}

button {
	height: 50px;
	font-size: large;
	margin: 5px auto;
	width: 300px;
}

/*Preview section*/

#preview {
    width: 650px;
}

.prevs {
    margin: 10px;
}